body {
    background-image: url("https://images.pexels.com/photos/256490/pexels-photo-256490.jpeg?auto=compress&cs=tinysrgb&w=1600");
    size: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
